* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #797979;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  margin-top: 80px;
}

body > div {
  width: 416px;

  background: #fff;
  border: 1px solid #000;
  border-radius: 20px;

  padding: 25px 22px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

#todoInput {
  width: 320px;

  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;

  font-size: 18px;
  padding: 8px 0;

  background: transparent;
}

#creatBtn {
  float: right;

  background: none;
  border: none;

  font-size: 45px;
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s;
}

#creatBtn:hover {
  transform: scale(1.15);
}

#list {
  list-style: none;
  margin-top: 15px;
}
.todo-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 8px;
  margin: 0 6px;

  border-bottom: 1px solid #d9d9d9;
  transition: background-color 0.2s ease;
}

.todo-item:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}

.todo-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.todo-text {
  flex: 1;
  font-size: 18px;
}

.todo-item input[type="text"] {
  flex: 1;

  border: none;
  outline: none;

  font-size: 18px;
}

.edit,
.del {
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.edit:hover,
.del:hover {
  transform: scale(1.2);
}
